@charset "UTF-8";
@import url('..\css\normalize.css');
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosanslight.woff2") format("woff2"), url("../fonts/Nunitosanslight.woff") format("woff"), url("../fonts/Nunitosanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosansregular.woff2") format("woff2"), url("../fonts/Nunitosansregular.woff") format("woff"), url("../fonts/Nunitosansregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosanssemibold.woff2") format("woff2"), url("../fonts/Nunitosanssemibold.woff") format("woff"), url("../fonts/Nunitosanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosansitalic.woff2") format("woff2"), url("../fonts/Nunitosansitalic.woff") format("woff"), url("../fonts/Nunitosansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosansextralightitalic.woff2") format("woff2"), url("../fonts/Nunitosansextralightitalic.woff") format("woff"), url("../fonts/Nunitosansextralightitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosansextrabolditalic.woff2") format("woff2"), url("../fonts/Nunitosansextrabolditalic.woff") format("woff"), url("../fonts/Nunitosansextrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosansextrabold.woff2") format("woff2"), url("../fonts/Nunitosansextrabold.woff") format("woff"), url("../fonts/Nunitosansextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosanslightitalic.woff2") format("woff2"), url("../fonts/Nunitosanslightitalic.woff") format("woff"), url("../fonts/Nunitosanslightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosansblack.woff2") format("woff2"), url("../fonts/Nunitosansblack.woff") format("woff"), url("../fonts/Nunitosansblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosansextralight.woff2") format("woff2"), url("../fonts/Nunitosansextralight.woff") format("woff"), url("../fonts/Nunitosansextralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosansbolditalic.woff2") format("woff2"), url("../fonts/Nunitosansbolditalic.woff") format("woff"), url("../fonts/Nunitosansbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosanssemibolditalic.woff2") format("woff2"), url("../fonts/Nunitosanssemibolditalic.woff") format("woff"), url("../fonts/Nunitosanssemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosansbold.woff2") format("woff2"), url("../fonts/Nunitosansbold.woff") format("woff"), url("../fonts/Nunitosansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local(""), url("../fonts/Nunitosansblackitalic.woff2") format("woff2"), url("../fonts/Nunitosansblackitalic.woff") format("woff"), url("../fonts/Nunitosansblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1220px) {
  .container {
    max-width: 90%;
  }
}

a,
input,
button {
  text-decoration: none;
  outline: none;
}

li {
  list-style-type: none;
}

.link,
.link:hover,
.link:active,
.link:visited {
  text-decoration: none;
}

.link:hover,
.link:hover:hover,
.link:active:hover,
.link:visited:hover {
  color: #FFFF00;
}

.link:active,
.link:hover:active,
.link:active:active,
.link:visited:active {
  color: #FF0000;
}

img {
  max-width: 100%;
}

.header,
.footer {
  max-width: 100vw;
}

.header {
  margin-bottom: 52px;
}

@media (max-width: 480px) {
  .header {
    margin-bottom: 35px;
  }
}

.header__body {
  background: #FFEB39;
  text-align: center;
  padding: 49px 0px;
  color: #222222;
  position: relative;
  overflow: hidden;
}

@media (max-width: 480px) {
  .header__body {
    padding: 35px 0px;
  }
}

.header__title {
  font-size: 70px;
  line-height: 80px;
  font-weight: 500;
}

@media (max-width: 1440px) {
  .header__title {
    font-size: 50px;
    line-height: 64px;
  }
}

@media (max-width: 1366px) {
  .header__title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 992px) {
  .header__title {
    font-size: 34px;
    line-height: 42px;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 30px;
    line-height: 42px;
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 24px;
    line-height: 34px;
  }
}

.header__title_span {
  font-weight: 700;
}

.decor-header__list {
  display: none;
}

@media (min-width: 640px) {
  .decor-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.decor-header__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.decor-header__item_1 {
  content: url("../img/decor-elem-1.svg");
}

@media (min-width: 640px) {
  .decor-header__item_1 {
    -webkit-transform: translate(-45vw, -19vw);
            transform: translate(-45vw, -19vw);
    height: 80px;
  }
}

@media (min-width: 768px) {
  .decor-header__item_1 {
    -webkit-transform: translate(-47vw, -18vw);
            transform: translate(-47vw, -18vw);
    height: 100px;
  }
}

@media (min-width: 992px) {
  .decor-header__item_1 {
    -webkit-transform: translate(-45vw, -17vw);
            transform: translate(-45vw, -17vw);
    height: 150px;
  }
}

@media (min-width: 1170px) {
  .decor-header__item_1 {
    -webkit-transform: translate(-45vw, -17vw);
            transform: translate(-45vw, -17vw);
    height: 180px;
  }
}

@media (min-width: 1366px) {
  .decor-header__item_1 {
    -webkit-transform: translate(-45vw, -14vw);
            transform: translate(-45vw, -14vw);
  }
}

@media (min-width: 1920px) {
  .decor-header__item_1 {
    -webkit-transform: translate(-45vw, -11vw);
            transform: translate(-45vw, -11vw);
  }
}

.decor-header__item_2 {
  content: url("../img/decor-elem-2.svg");
}

@media (min-width: 640px) {
  .decor-header__item_2 {
    -webkit-transform: translate(-53vw, 9vw);
            transform: translate(-53vw, 9vw);
    width: 50px;
  }
}

@media (min-width: 768px) {
  .decor-header__item_2 {
    -webkit-transform: translate(-55vw, 7vw);
            transform: translate(-55vw, 7vw);
    width: 70px;
  }
}

@media (min-width: 992px) {
  .decor-header__item_2 {
    -webkit-transform: translate(-55vw, 4vw);
            transform: translate(-55vw, 4vw);
    width: 90px;
  }
}

@media (min-width: 1170px) {
  .decor-header__item_2 {
    -webkit-transform: translate(-55vw, 4vw);
            transform: translate(-55vw, 4vw);
    width: 100px;
  }
}

@media (min-width: 1366px) {
  .decor-header__item_2 {
    -webkit-transform: translate(-54vw, 2vw);
            transform: translate(-54vw, 2vw);
  }
}

@media (min-width: 1920px) {
  .decor-header__item_2 {
    -webkit-transform: translate(-52vw, 3vw);
            transform: translate(-52vw, 3vw);
  }
}

.decor-header__item_3 {
  content: url("../img/decor-elem-3.svg");
}

@media (min-width: 640px) {
  .decor-header__item_3 {
    -webkit-transform: translate(-40vw, 6vw);
            transform: translate(-40vw, 6vw);
    width: 20px;
  }
}

@media (min-width: 768px) {
  .decor-header__item_3 {
    -webkit-transform: translate(-42vw, 5vw);
            transform: translate(-42vw, 5vw);
    width: 30px;
  }
}

@media (min-width: 992px) {
  .decor-header__item_3 {
    -webkit-transform: translate(-39vw, 3vw);
            transform: translate(-39vw, 3vw);
    width: 35px;
  }
}

@media (min-width: 1170px) {
  .decor-header__item_3 {
    -webkit-transform: translate(-39vw, 2vw);
            transform: translate(-39vw, 2vw);
    width: 45px;
  }
}

@media (min-width: 1366px) {
  .decor-header__item_3 {
    -webkit-transform: translate(-40vw, 1vw);
            transform: translate(-40vw, 1vw);
    width: 50px;
  }
}

@media (min-width: 1920px) {
  .decor-header__item_3 {
    -webkit-transform: translate(-42vw, 2vw);
            transform: translate(-42vw, 2vw);
  }
}

.decor-header__item_4 {
  content: url("../img/decor-elem-4.svg");
}

@media (min-width: 640px) {
  .decor-header__item_4 {
    -webkit-transform: translate(34vw, -18vw);
            transform: translate(34vw, -18vw);
    width: 50px;
  }
}

@media (min-width: 768px) {
  .decor-header__item_4 {
    -webkit-transform: translate(34vw, -20vw);
            transform: translate(34vw, -20vw);
    width: 80px;
  }
}

@media (min-width: 992px) {
  .decor-header__item_4 {
    -webkit-transform: translate(28vw, -21vw);
            transform: translate(28vw, -21vw);
    width: 150px;
  }
}

@media (min-width: 1170px) {
  .decor-header__item_4 {
    -webkit-transform: translate(24vw, -22vw);
            transform: translate(24vw, -22vw);
    width: 200px;
  }
}

@media (min-width: 1366px) {
  .decor-header__item_4 {
    -webkit-transform: translate(24vw, -21vw);
            transform: translate(24vw, -21vw);
    width: 240px;
  }
}

@media (min-width: 1920px) {
  .decor-header__item_4 {
    -webkit-transform: translate(25vw, -16vw);
            transform: translate(25vw, -16vw);
  }
}

.decor-header__item_5 {
  content: url("../img/decor-elem-5.svg");
}

@media (min-width: 640px) {
  .decor-header__item_5 {
    -webkit-transform: translate(35vw, 1vw);
            transform: translate(35vw, 1vw);
    width: 15px;
  }
}

@media (min-width: 768px) {
  .decor-header__item_5 {
    -webkit-transform: translate(36vw, 1vw);
            transform: translate(36vw, 1vw);
    width: 20px;
  }
}

@media (min-width: 992px) {
  .decor-header__item_5 {
    -webkit-transform: translate(33vw, 0vw);
            transform: translate(33vw, 0vw);
    width: 25px;
  }
}

@media (min-width: 1170px) {
  .decor-header__item_5 {
    -webkit-transform: translate(30vw, 0vw);
            transform: translate(30vw, 0vw);
    width: 35px;
  }
}

@media (min-width: 1366px) {
  .decor-header__item_5 {
    -webkit-transform: translate(30vw, 0vw);
            transform: translate(30vw, 0vw);
  }
}

@media (min-width: 1920px) {
  .decor-header__item_5 {
    -webkit-transform: translate(29vw, 0vw);
            transform: translate(29vw, 0vw);
  }
}

.decor-header__item_6 {
  content: url("../img/decor-elem-6.svg");
}

@media (min-width: 640px) {
  .decor-header__item_6 {
    -webkit-transform: translate(40vw, 1vw);
            transform: translate(40vw, 1vw);
    width: 150px;
  }
}

@media (min-width: 768px) {
  .decor-header__item_6 {
    -webkit-transform: translate(40vw, 3vw);
            transform: translate(40vw, 3vw);
    width: 170px;
  }
}

@media (min-width: 992px) {
  .decor-header__item_6 {
    -webkit-transform: translate(40vw, -4vw);
            transform: translate(40vw, -4vw);
    width: 230px;
  }
}

@media (min-width: 1170px) {
  .decor-header__item_6 {
    -webkit-transform: translate(38vw, -4vw);
            transform: translate(38vw, -4vw);
    width: 280px;
  }
}

@media (min-width: 1366px) {
  .decor-header__item_6 {
    -webkit-transform: translate(39vw, -4vw);
            transform: translate(39vw, -4vw);
    width: 320px;
  }
}

@media (min-width: 1920px) {
  .decor-header__item_6 {
    -webkit-transform: translate(41vw, -3vw);
            transform: translate(41vw, -3vw);
  }
}

.intro {
  background: url("../img/img-header.webp") top center no-repeat;
  background-size: cover;
  color: #222222;
  padding: 287px 0px 61px 65px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .intro {
    /* Стилизация элементов для IE10+ */
    background: url("../img/img-header.png") top center no-repeat;
  }
}

@media (max-width: 992px) {
  .intro {
    padding: 220px 0px 40px 40px;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 100px 0px 40px;
  }
}

@media (max-width: 480px) {
  .intro {
    padding: 50px 0px 20px;
  }
}

.intro__body {
  max-width: 470px;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  background-color: #fff;
  padding: 25px 41px 50px;
}

@media (max-width: 992px) {
  .intro__body {
    max-width: 350px;
    padding: 25px 20px;
  }
}

@media (max-width: 768px) {
  .intro__body {
    max-width: 80%;
    margin: 0px auto;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .intro__body {
    max-width: 90%;
    padding: 15px;
  }
}

.intro__title {
  line-height: 74px;
}

@media (max-width: 1520px) {
  .intro__title {
    line-height: 48px;
  }
}

@media (max-width: 1440px) {
  .intro__title {
    line-height: 46px;
  }
}

@media (max-width: 768px) {
  .intro__title {
    line-height: 48px;
  }
}

@media (max-width: 480px) {
  .intro__title {
    line-height: 34px;
  }
}

.intro__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 13px;
}

.intro__subtitle:last-child {
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .intro__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.main {
  position: relative;
  overflow: hidden;
}

.main__offer {
  margin-bottom: 37px;
  position: relative;
  overflow: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .main__offer .container {
    /* Стилизация элементов для IE10+ */
    max-width: none;
  }
}

@media (max-width: 1520px) {
  .main__offer {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .main__offer {
    margin-bottom: 0;
  }
}

.main__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  color: #222222;
}

@media (max-width: 1520px) {
  .main__title {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (max-width: 992px) {
  .main__title {
    font-size: 26px;
    line-height: 32px;
  }
}

@media (max-width: 768px) {
  .main__title {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .main__title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 380px) {
  .main__title {
    font-size: 18px;
    line-height: 28px;
  }
}

.main__decor {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.main__decor_1 {
  content: url("../img/decor-elem-7.svg");
  -webkit-transform: translate(35vw, -12vw);
          transform: translate(35vw, -12vw);
}

@media (max-width: 1440px) {
  .main__decor_1 {
    display: none;
  }
}

@media (max-width: 1919px) {
  .main__decor_1 {
    -webkit-transform: translate(41vw, -10vw);
            transform: translate(41vw, -10vw);
    width: 300px;
  }
}

.main__decor_2 {
  content: url("../img/decor-elem-8.svg");
  -webkit-transform: translate(35vw, -23vw);
          transform: translate(35vw, -23vw);
}

@media (max-width: 1440px) {
  .main__decor_2 {
    display: none;
  }
}

@media (max-width: 1919px) {
  .main__decor_2 {
    -webkit-transform: translate(37vw, -23vw);
            transform: translate(37vw, -23vw);
    width: 250px;
  }
}

@media (max-width: 1620px) {
  .main__decor_2 {
    -webkit-transform: translate(38vw, -27vw);
            transform: translate(38vw, -27vw);
    width: 250px;
  }
}

@media (max-width: 1520px) {
  .main__decor_2 {
    -webkit-transform: translate(41vw, -29vw);
            transform: translate(41vw, -29vw);
    width: 250px;
  }
}

.main__decor_3 {
  content: url("../img/decor-elem-9.svg");
  -webkit-transform: translate(-59vw, -1vw);
          transform: translate(-59vw, -1vw);
}

@media (max-width: 1440px) {
  .main__decor_3 {
    display: none;
  }
}

@media (max-width: 1919px) {
  .main__decor_3 {
    -webkit-transform: translate(-55vw, -1vw);
            transform: translate(-55vw, -1vw);
    width: 300px;
  }
}

@media (max-width: 1620px) {
  .main__decor_3 {
    -webkit-transform: translate(-58vw, -1vw);
            transform: translate(-58vw, -1vw);
    width: 300px;
  }
}

@media (max-width: 1520px) {
  .main__decor_3 {
    -webkit-transform: translate(-62vw, -1vw);
            transform: translate(-62vw, -1vw);
    width: 300px;
  }
}

.main__decor_4 {
  content: url("../img/decor-elem-7.svg");
  -webkit-transform: translate(35vw, -18vw);
          transform: translate(35vw, -18vw);
}

@media (max-width: 1440px) {
  .main__decor_4 {
    display: none;
  }
}

@media (max-width: 1919px) {
  .main__decor_4 {
    -webkit-transform: translate(35vw, -18vw);
            transform: translate(35vw, -18vw);
    width: 300px;
  }
}

@media (max-width: 1800px) {
  .main__decor_4 {
    -webkit-transform: translate(38vw, -26vw);
            transform: translate(38vw, -26vw);
  }
}

.main__decor_5 {
  content: url("../img/decor-elem-8.svg");
  -webkit-transform: translate(-51vw, 62vw) scale(-1, 1);
          transform: translate(-51vw, 62vw) scale(-1, 1);
}

@media (max-width: 1440px) {
  .main__decor_5 {
    display: none;
  }
}

@media (max-width: 1919px) {
  .main__decor_5 {
    -webkit-transform: translate(-51vw, 65vw) scale(-1, 1);
            transform: translate(-51vw, 65vw) scale(-1, 1);
    width: 250px;
  }
}

@media (max-width: 1700px) {
  .main__decor_5 {
    -webkit-transform: translate(-53vw, 70vw) scale(-1, 1);
            transform: translate(-53vw, 70vw) scale(-1, 1);
  }
}

@media (max-width: 1640px) {
  .main__decor_5 {
    -webkit-transform: translate(-57vw, 72vw) scale(-1, 1);
            transform: translate(-57vw, 72vw) scale(-1, 1);
  }
}

@media (max-width: 1560px) {
  .main__decor_5 {
    -webkit-transform: translate(-58vw, 75vw) scale(-1, 1);
            transform: translate(-58vw, 75vw) scale(-1, 1);
  }
}

.main__decor_6 {
  content: url("../img/decor-elem-8.svg");
  -webkit-transform: translate(35vw, 136vw);
          transform: translate(35vw, 136vw);
}

@media (max-width: 1440px) {
  .main__decor_6 {
    display: none;
  }
}

@media (max-width: 1919px) {
  .main__decor_6 {
    -webkit-transform: translate(35vw, 136vw);
            transform: translate(35vw, 136vw);
    width: 250px;
  }
}

@media (max-width: 1840px) {
  .main__decor_6 {
    -webkit-transform: translate(35vw, 145vw);
            transform: translate(35vw, 145vw);
  }
}

@media (max-width: 1700px) {
  .main__decor_6 {
    -webkit-transform: translate(35vw, 155vw);
            transform: translate(35vw, 155vw);
  }
}

@media (max-width: 1620px) {
  .main__decor_6 {
    -webkit-transform: translate(35vw, 162vw);
            transform: translate(35vw, 162vw);
  }
}

@media (max-width: 1560px) {
  .main__decor_6 {
    -webkit-transform: translate(37vw, 170vw);
            transform: translate(37vw, 170vw);
  }
}

.main__topics {
  position: relative;
  overflow: hidden;
}

.main__stages {
  position: relative;
  overflow: hidden;
}

.main__video {
  padding: 40px 0px 48px;
}

@media (max-width: 768px) {
  .main__video {
    padding: 0px 0px 30px;
  }
}

.offer {
  text-align: center;
}

.offer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .offer__buttons {
    margin-bottom: 30px;
  }
}

@media (max-width: 686px) {
  .offer__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.offer__button {
  font-family: inherit;
  border: inherit;
  border-radius: 250px;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
  padding: 31px 46px;
  cursor: pointer;
}

@media (max-width: 686px) {
  .offer__button:last-child {
    margin-bottom: 0;
  }
}

.offer__button:hover {
  -webkit-box-shadow: 1px 6px 1px rgba(104, 104, 104, 0.5);
          box-shadow: 1px 6px 1px rgba(104, 104, 104, 0.5);
}

.offer__button:active {
  -webkit-box-shadow: 1px 3px 1px rgba(104, 104, 104, 0.5);
          box-shadow: 1px 3px 1px rgba(104, 104, 104, 0.5);
}

@media (max-width: 1520px) {
  .offer__button {
    font-size: 26px;
    line-height: 32px;
  }
}

@media (max-width: 1440px) {
  .offer__button {
    font-size: 22px;
    line-height: 14px;
    padding: 24px 46px;
  }
}

@media (max-width: 992px) {
  .offer__button {
    font-size: 20px;
    line-height: 18px;
    padding: 14px 30px;
  }
}

@media (max-width: 686px) {
  .offer__button {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .offer__button {
    max-width: 250px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding: 14px 0px;
  }
}

@media all and (max-width: 480px) and (-ms-high-contrast: none), (max-width: 480px) and (-ms-high-contrast: active) {
  .offer__button {
    /* Стилизация элементов для IE10+ */
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) and (max-width: 540px) {
  .offer__button {
    max-width: 100%;
  }
}

.offer__button_buy {
  background-color: #FFEB39;
  margin-right: 29px;
}

@media (max-width: 992px) {
  .offer__button_buy {
    margin-right: 20px;
  }
}

@media (max-width: 686px) {
  .offer__button_buy {
    margin-right: 0;
  }
}

.offer__button_buy span {
  font-size: 26px;
  color: #656565;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

@media (max-width: 1366px) {
  .offer__button_buy span {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .offer__button_buy span {
    font-size: 14px;
  }
}

.offer__button_course {
  background-color: #EB5757;
  color: #fff;
  padding: 24px 75px;
}

@media (max-width: 992px) {
  .offer__button_course {
    padding: 14px 40px 15px;
  }
}

.rules-offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1100px) {
  .rules-offer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
  }
}

@media (max-width: 520px) {
  .rules-offer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rules-offer__bracket {
  display: none;
}

@media (min-width: 1100px) {
  .rules-offer__bracket {
    display: block;
  }
}

@media (max-width: 1280px) {
  .rules-offer__bracket_img {
    width: 860px;
  }
}

.rules-offer__item {
  max-width: 270px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 138px 15px 33px;
  position: relative;
  margin-right: 31px;
}

@media (max-width: 1280px) {
  .rules-offer__item {
    max-width: 220px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media all and (max-width: 1280px) and (-ms-high-contrast: none), (max-width: 1280px) and (-ms-high-contrast: active) {
  .rules-offer__item {
    /* Стилизация элементов для IE10+ */
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 1081px) {
  .rules-offer__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 520px) {
  .rules-offer__item {
    padding: 108px 25px 20px;
    font-size: 14px;
    line-height: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.rules-offer__item:last-child {
  margin-right: 0;
}

.rules-offer__item:last-child::after {
  display: none;
}

.rules-offer__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 89px;
  height: 89px;
  border-radius: 50%;
  background-color: #FFEB39;
  z-index: -1;
}

@media (max-width: 1366px) {
  .rules-offer__item::before {
    width: 69px;
    height: 69px;
  }
}

.rules-offer__item::after {
  content: '+';
  display: block;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
  position: absolute;
  top: 50%;
  right: -10.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.5;
}

@media (max-width: 1280px) {
  .rules-offer__item::after {
    right: -12.5%;
  }
}

@media (max-width: 1100px) {
  .rules-offer__item::after {
    display: none;
  }
}

.rules-offer__item:nth-child(1) {
  background: url("../img/ico-rules.svg") 50% 32% no-repeat;
}

.rules-offer__item:nth-child(2) {
  background: url("../img/ico-book.svg") 50% 31% no-repeat;
}

.rules-offer__item:nth-child(3) {
  background: url("../img/ico-tools.svg") 50% 27% no-repeat;
}

@media (max-width: 520px) {
  .rules-offer__item:nth-child(3) {
    background: url("../img/ico-tools.svg") 50% 18% no-repeat;
  }
}

.rules-offer__item:nth-child(4) {
  background: url("../img/ico-teacher.svg") 50% 29% no-repeat;
}

@media (max-width: 520px) {
  .rules-offer__item:nth-child(4) {
    background: url("../img/ico-teacher.svg") 50% 24% no-repeat;
  }
}

@media (max-width: 480px) {
  .success__img_svg {
    width: 180px;
    height: 180px;
  }
}

.success__title_span {
  color: #EB5757;
}

.how-it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 62px 58px;
}

@media (min-width: 1920px) {
  .how-it {
    padding: 62px 78px;
  }
}

@media (min-width: 2200px) {
  .how-it {
    padding: 62px 208px;
  }
}

@media (max-width: 1440px) {
  .how-it {
    padding: 42px 38px 20px;
  }
}

@media (max-width: 1200px) {
  .how-it {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 1200px) and (-ms-high-contrast: none), (max-width: 1200px) and (-ms-high-contrast: active) {
  .how-it {
    /* Стилизация элементов для IE10+ */
    display: block;
  }
}

@media (max-width: 480px) {
  .how-it {
    padding: 32px 23px 0px;
  }
}

.how-it__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

@media (min-width: 1920px) {
  .how-it__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1280px) {
  .how-it__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
  }
}

@media (max-width: 1200px) {
  .how-it__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 20px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .how-it__image_img {
    /* Стилизация элементов для IE10+ */
    display: none;
  }
}

.how-it__image_ie {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .how-it__image_ie {
    /* Стилизация элементов для IE10+ */
    display: block;
  }
}

.how-it__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
  color: #222222;
}

@media (max-width: 1280px) {
  .how-it__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 63%;
            flex: 0 1 63%;
  }
}

@media (max-width: 1200px) {
  .how-it__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.how-it__title {
  line-height: 74px;
}

@media (max-width: 1520px) {
  .how-it__title {
    line-height: 48px;
  }
}

@media (max-width: 1440px) {
  .how-it__title {
    line-height: 46px;
  }
}

@media (max-width: 768px) {
  .how-it__title {
    line-height: 48px;
  }
}

@media (max-width: 480px) {
  .how-it__title {
    line-height: 34px;
  }
}

.how-it__subtitle {
  font-weight: 300;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 13px;
}

@media (max-width: 1919px) {
  .how-it__subtitle {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 1620px) {
  .how-it__subtitle {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 1440px) {
  .how-it__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 1366px) {
  .how-it__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1280px) {
  .how-it__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1200px) {
  .how-it__subtitle {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 992px) {
  .how-it__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  .how-it__subtitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

.how-it__subtitle:last-child {
  margin-bottom: 0;
}

.topics {
  padding: 50px 0px;
}

@media (max-width: 1440px) {
  .topics {
    padding: 30px 0px;
  }
}

@media (max-width: 1366px) {
  .topics__wrap {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .topics__wrap {
    max-width: 90%;
  }
}

.topics__title {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .topics__title {
    margin-bottom: 25px;
  }
}

.topics__item {
  margin-bottom: 36px;
  position: relative;
}

@media (max-width: 992px) {
  .topics__item::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .topics__item {
    margin-bottom: 30px;
  }
}

.topics__item::after {
  content: '';
  width: 100%;
  height: 0;
  border: 1px solid #DFDFDF;
  position: absolute;
  bottom: -25%;
  left: 0%;
}

.topics__item:last-child::after {
  border: 0;
}

.topics__task {
  font-weight: 700;
  font-size: 26px;
  line-height: 24px;
  color: #FFB545;
  margin-bottom: 10px;
  padding-left: 38px;
  position: relative;
}

@media (max-width: 1520px) {
  .topics__task {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .topics__task {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .topics__task {
    font-size: 18px;
  }
}

.topics__task::before {
  content: url("../img/ico-check-mark.svg");
  position: absolute;
  top: -5%;
  left: 0%;
}

.topics__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}

@media (max-width: 480px) {
  .topics__description {
    font-size: 14px;
    line-height: 20px;
  }
}

.topics__footer {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #FFB545;
  padding: 36px 36px 36px 120px;
}

@media (max-width: 1100px) {
  .topics__footer {
    padding: 36px 36px 36px 100px;
  }
}

@media (max-width: 992px) {
  .topics__footer {
    padding: 25px 25px 25px 90px;
  }
}

@media (max-width: 880px) {
  .topics__footer {
    padding: 25px;
  }
}

@media (max-width: 480px) {
  .topics__footer {
    padding: 15px;
  }
}

.topics__motiv {
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  color: #fff;
  position: relative;
}

.topics__motiv::before {
  content: url("../img/ico-lamp.svg");
  position: absolute;
  top: -12%;
  left: -8%;
}

@media (max-width: 1366px) {
  .topics__motiv::before {
    top: 9%;
    left: -10%;
  }
}

@media (max-width: 1200px) {
  .topics__motiv::before {
    content: url("../img/ico-lamp-middle.svg");
    top: 15%;
    left: -10%;
  }
}

@media (max-width: 1080px) {
  .topics__motiv::before {
    top: 7%;
  }
}

@media (max-width: 992px) {
  .topics__motiv::before {
    top: 7%;
    left: -11%;
  }
}

@media (max-width: 880px) {
  .topics__motiv::before {
    display: none;
  }
}

@media (max-width: 1440px) {
  .topics__motiv {
    font-size: 22px;
  }
}

@media (max-width: 1080px) {
  .topics__motiv {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 992px) {
  .topics__motiv {
    line-height: 28px;
  }
}

@media (max-width: 880px) {
  .topics__motiv {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  .topics__motiv {
    font-size: 14px;
  }
}

.stages {
  padding: 38px 0px 67px;
}

@media (max-width: 480px) {
  .stages {
    padding: 18px 0px 30px;
  }
}

.stages__title {
  margin-bottom: 20px;
  text-align: center;
}

.stages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 51px;
  position: relative;
}

@media (max-width: 768px) {
  .stages__item {
    margin-bottom: 35px;
  }
}

@media (max-width: 640px) {
  .stages__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 420px) {
  .stages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 420px) and (-ms-high-contrast: none), (max-width: 420px) and (-ms-high-contrast: active) {
  .stages__item {
    /* Стилизация элементов для IE10+ */
    display: block;
    text-align: center;
  }
}

.stages__item:nth-child(1)::after {
  content: url("../img/stages-arrow.png");
  position: absolute;
  bottom: -15%;
  left: 29%;
}

@media (max-width: 1366px) {
  .stages__item:nth-child(1)::after {
    content: url("../img/stages-arrow-mini.png");
    bottom: -20%;
    left: 22%;
  }
}

@media (max-width: 1220px) {
  .stages__item:nth-child(1)::after {
    left: 25%;
  }
}

@media (max-width: 992px) {
  .stages__item:nth-child(1)::after {
    display: none;
  }
}

.stages__item:nth-child(2) {
  padding-left: 40%;
}

@media (max-width: 1366px) {
  .stages__item:nth-child(2) {
    padding-left: 30%;
  }
}

@media (max-width: 992px) {
  .stages__item:nth-child(2) {
    padding-left: 0;
  }
}

.stages__item:nth-child(2)::after {
  content: url("../img/stages-arrow.png");
  position: absolute;
  bottom: -15%;
  left: 20%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

@media (max-width: 1366px) {
  .stages__item:nth-child(2)::after {
    content: url("../img/stages-arrow-mini.png");
    left: 14%;
    bottom: -20%;
  }
}

@media (max-width: 1220px) {
  .stages__item:nth-child(2)::after {
    left: 12%;
  }
}

@media (max-width: 992px) {
  .stages__item:nth-child(2)::after {
    display: none;
  }
}

.stages__item:nth-child(3)::after {
  content: url("../img/stages-arrow.png");
  position: absolute;
  bottom: -15%;
  left: 29%;
}

@media (max-width: 1366px) {
  .stages__item:nth-child(3)::after {
    content: url("../img/stages-arrow-mini.png");
    bottom: -20%;
    left: 22%;
  }
}

@media (max-width: 1220px) {
  .stages__item:nth-child(3)::after {
    left: 25%;
  }
}

@media (max-width: 992px) {
  .stages__item:nth-child(3)::after {
    display: none;
  }
}

.stages__item:nth-child(4) {
  padding-left: 40%;
  margin-bottom: 0;
}

@media (max-width: 1366px) {
  .stages__item:nth-child(4) {
    padding-left: 30%;
  }
}

@media (max-width: 992px) {
  .stages__item:nth-child(4) {
    padding-left: 0;
  }
}

.stages__img {
  width: 340px;
  height: 310px;
  margin-right: 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 1;
}

@media (max-width: 1366px) {
  .stages__img {
    width: 250px;
    height: 220px;
  }
}

@media (max-width: 992px) {
  .stages__img {
    width: 200px;
    height: 170px;
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .stages__img {
    width: 150px;
    height: 120px;
  }
}

@media (max-width: 640px) {
  .stages__img {
    margin-right: 0px;
  }
}

@media (max-width: 480px) {
  .stages__img {
    width: 130px;
    height: 100px;
  }
}

@media (max-width: 420px) {
  .stages__img {
    margin-bottom: 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.stages__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #222222;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
}

@media (max-width: 1520px) {
  .stages__text {
    font-size: 26px;
  }
}

@media (max-width: 1366px) {
  .stages__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .stages__text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .stages__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  .stages__text {
    font-size: 14px;
  }
}

.video {
  position: relative;
  padding: 0px 0px 58% 0px;
}

.video__iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.map__title {
  text-align: center;
  margin: 0px auto;
}

.map__title_span {
  font-size: 55px;
}

@media (max-width: 1520px) {
  .map__title_span {
    font-size: 42px;
  }
}

@media (max-width: 992px) {
  .map__title_span {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .map__title_span {
    font-size: 34px;
  }
}

@media (max-width: 480px) {
  .map__title_span {
    font-size: 30px;
  }
}

@media (max-width: 380px) {
  .map__title_span {
    font-size: 24px;
  }
}

.map__body {
  position: relative;
  overflow: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .map__img {
    /* Стилизация элементов для IE10+ */
    display: none;
  }
}

.map__img_ie {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .map__img_ie {
    /* Стилизация элементов для IE10+ */
    display: block;
  }
}

.map__geolocation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
}

.map__geo {
  cursor: pointer;
}

.map__geo:hover .tooltip-map {
  display: inline-block;
}

.map__geo::before {
  content: url("../img/ico-geo.svg");
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 992px) {
  .map__geo::before {
    content: url("../img/ico-geo-middle.svg");
  }
}

@media (max-width: 768px) {
  .map__geo::before {
    content: url("../img/ico-geo-mini.svg");
  }
}

@media (max-width: 480px) {
  .map__geo::before {
    content: url("../img/ico-geo-micro.svg");
  }
}

.map__geo_1::before {
  top: -13%;
  left: -36%;
}

@media (max-width: 480px) {
  .map__geo_1::before {
    top: -14%;
    left: -35%;
  }
}

.map__geo_2::before {
  top: -22%;
  left: -36%;
}

@media (max-width: 480px) {
  .map__geo_2::before {
    top: -23%;
    left: -35.5%;
  }
}

.map__geo_3::before {
  top: 12%;
  left: -9%;
}

@media (max-width: 480px) {
  .map__geo_3::before {
    top: 9%;
    left: -10%;
  }
}

.map__geo_4::before {
  top: 2%;
  left: -22%;
}

@media (max-width: 480px) {
  .map__geo_4::before {
    top: -2%;
    left: -23%;
  }
}

.map__geo_5::before {
  top: -5%;
  left: -29%;
}

@media (max-width: 480px) {
  .map__geo_5::before {
    top: -7%;
    left: -29%;
  }
}

.map__geo_6::before {
  top: -11%;
  left: -30.5%;
}

@media (max-width: 480px) {
  .map__geo_6::before {
    top: -13%;
  }
}

.map__geo_7::before {
  top: 6%;
  left: -23%;
}

@media (max-width: 480px) {
  .map__geo_7::before {
    top: 4%;
  }
}

.map__geo_8::before {
  top: 1%;
  left: -32%;
}

@media (max-width: 480px) {
  .map__geo_8::before {
    top: -2%;
  }
}

.map__geo_9::before {
  top: 11%;
  left: -16%;
}

@media (max-width: 480px) {
  .map__geo_9::before {
    top: 8%;
  }
}

.map__geo_10::before {
  top: 0%;
  left: -43%;
}

@media (max-width: 480px) {
  .map__geo_10::before {
    top: -3%;
  }
}

.map__geo_11::before {
  top: 3%;
  left: -27%;
}

@media (max-width: 480px) {
  .map__geo_11::before {
    top: 1%;
  }
}

.map__geo_12::before {
  top: 15%;
  left: -0.5%;
}

@media (max-width: 480px) {
  .map__geo_12::before {
    top: 14%;
  }
}

.map__geo_13::before {
  top: -6%;
  left: -39.5%;
}

@media (max-width: 480px) {
  .map__geo_13::before {
    top: -9%;
  }
}

.map__geo_14::before {
  top: -5%;
  left: -23%;
}

@media (max-width: 480px) {
  .map__geo_14::before {
    top: -8%;
  }
}

.map__geo_15::before {
  top: 2%;
  left: -39%;
}

@media (max-width: 480px) {
  .map__geo_15::before {
    top: 0%;
  }
}

.tooltip-map {
  display: none;
  max-width: 220px;
  padding: 16px 23px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

@media (max-width: 992px) {
  .tooltip-map {
    max-width: 155px;
    padding: 10px 15px;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .tooltip-map {
    max-width: 150px;
    padding: 10px;
    border-radius: 7px;
  }
}

.tooltip-map__1 {
  top: -21%;
  left: -33%;
}

@media (max-width: 480px) {
  .tooltip-map__1 {
    top: -26%;
    left: -32%;
  }
}

.tooltip-map__2 {
  top: -30%;
  left: -33%;
}

@media (max-width: 480px) {
  .tooltip-map__2 {
    top: -36%;
    left: -33%;
  }
}

.tooltip-map__3 {
  top: 4%;
  left: -6%;
}

@media (max-width: 480px) {
  .tooltip-map__3 {
    top: -4%;
    left: -7%;
  }
}

.tooltip-map__4 {
  top: -7%;
  left: -20%;
}

@media (max-width: 480px) {
  .tooltip-map__4 {
    top: -15%;
  }
}

.tooltip-map__5 {
  top: -13%;
  left: -26%;
}

@media (max-width: 480px) {
  .tooltip-map__5 {
    top: -19%;
    left: -26%;
  }
}

.tooltip-map__6 {
  top: -20%;
  left: -28%;
}

@media (max-width: 480px) {
  .tooltip-map__6 {
    top: -26%;
  }
}

.tooltip-map__7 {
  top: -2%;
  left: -20%;
}

@media (max-width: 480px) {
  .tooltip-map__7 {
    top: -9%;
  }
}

.tooltip-map__8 {
  top: -7%;
  left: -29%;
}

@media (max-width: 480px) {
  .tooltip-map__8 {
    top: -14%;
  }
}

@media (max-width: 420px) {
  .tooltip-map__8 {
    left: -29%;
  }
}

.tooltip-map__9 {
  top: 3%;
  left: -13%;
}

@media (max-width: 480px) {
  .tooltip-map__9 {
    top: -4%;
  }
}

.tooltip-map__10 {
  top: -8%;
  left: -40%;
}

@media (max-width: 480px) {
  .tooltip-map__10 {
    top: -15%;
  }
}

.tooltip-map__11 {
  top: -5%;
  left: -24%;
}

@media (max-width: 480px) {
  .tooltip-map__11 {
    top: -11%;
  }
}

.tooltip-map__12 {
  top: 6%;
  left: 2%;
}

@media (max-width: 480px) {
  .tooltip-map__12 {
    top: 1%;
  }
}

.tooltip-map__13 {
  top: -14%;
  left: -37%;
}

@media (max-width: 480px) {
  .tooltip-map__13 {
    top: -22%;
  }
}

.tooltip-map__14 {
  top: -13%;
  left: -20%;
}

@media (max-width: 480px) {
  .tooltip-map__14 {
    top: -20%;
  }
}

.tooltip-map__15 {
  top: -6%;
  left: -36%;
}

@media (max-width: 480px) {
  .tooltip-map__15 {
    top: -12%;
  }
}

.tooltip-map__city {
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  color: #222222;
}

@media (max-width: 992px) {
  .tooltip-map__city {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .tooltip-map__city {
    font-size: 12px;
    line-height: 18px;
  }
}

.tooltip-map__count {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #EB5757;
}

@media (max-width: 992px) {
  .tooltip-map__count {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .tooltip-map__count {
    line-height: 18px;
  }
}

.tooltip-map__count_number {
  font-size: 22px;
}

@media (max-width: 992px) {
  .tooltip-map__count_number {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .tooltip-map__count_number {
    font-size: 13px;
  }
}

.footer__body {
  padding: 68px 0px 78px;
}

@media (max-width: 992px) {
  .footer__body {
    padding: 45px 0px 60px;
  }
}

@media (max-width: 992px) {
  .footer__body {
    padding: 35px 0px 45px;
  }
}

@media (max-width: 380px) {
  .footer__body {
    padding: 35px 0px;
  }
}

.footer__title {
  margin-bottom: 74px;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
}

@media (max-width: 1520px) {
  .footer__title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 992px) {
  .footer__title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 64px;
  }
}

@media (max-width: 768px) {
  .footer__title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 54px;
  }
}

@media (max-width: 600px) {
  .footer__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .footer__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 380px) {
  .footer__title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
}

.footer__title_span {
  font-size: 50px;
}

@media (max-width: 1520px) {
  .footer__title_span {
    font-size: 45px;
  }
}

@media (max-width: 992px) {
  .footer__title_span {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  .footer__title_span {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .footer__title_span {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .footer__title_span {
    font-size: 20px;
  }
}

@media (max-width: 380px) {
  .footer__title_span {
    font-size: 16px;
  }
}

.footer__button {
  font-weight: 700;
  font-size: 26px;
  line-height: 24px;
  padding: 34px 76px;
  position: relative;
}

@media (max-width: 1440px) {
  .footer__button {
    padding: 30px 56px;
  }
}

@media (max-width: 992px) {
  .footer__button {
    font-size: 24px;
    padding: 24px 48px;
  }
}

@media (max-width: 768px) {
  .footer__button {
    font-size: 18px;
    padding: 15px 25px;
  }
}

@media (max-width: 380px) {
  .footer__button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.footer__button::before {
  content: '2000₽';
  display: block;
  position: absolute;
  top: -48%;
  right: -13%;
  font-weight: 500;
  font-size: 30px;
  color: #222222;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .footer__button::before {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .footer__button::before {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .footer__button::before {
    font-size: 14px;
  }
}

@media (min-width: 640px) {
  .decor-footer__item_1 {
    -webkit-transform: translate(-55vw, -24vw);
            transform: translate(-55vw, -24vw);
  }
}

@media (min-width: 768px) {
  .decor-footer__item_1 {
    -webkit-transform: translate(-50vw, -21vw);
            transform: translate(-50vw, -21vw);
  }
}

@media (min-width: 992px) {
  .decor-footer__item_1 {
    -webkit-transform: translate(-50vw, -18vw);
            transform: translate(-50vw, -18vw);
  }
}

@media (min-width: 1170px) {
  .decor-footer__item_1 {
    -webkit-transform: translate(-50vw, -19vw);
            transform: translate(-50vw, -19vw);
  }
}

@media (min-width: 1366px) {
  .decor-footer__item_1 {
    -webkit-transform: translate(-47vw, -16vw);
            transform: translate(-47vw, -16vw);
  }
}

@media (min-width: 1920px) {
  .decor-footer__item_1 {
    -webkit-transform: translate(-45vw, -11vw);
            transform: translate(-45vw, -11vw);
  }
}

@media (min-width: 640px) {
  .decor-footer__item_2 {
    -webkit-transform: translate(-54vw, 8vw);
            transform: translate(-54vw, 8vw);
  }
}

@media (min-width: 768px) {
  .decor-footer__item_2 {
    -webkit-transform: translate(-54vw, 8vw);
            transform: translate(-54vw, 8vw);
  }
}

@media (min-width: 992px) {
  .decor-footer__item_2 {
    -webkit-transform: translate(-54vw, 8vw);
            transform: translate(-54vw, 8vw);
  }
}

@media (min-width: 1170px) {
  .decor-footer__item_2 {
    -webkit-transform: translate(-54vw, 5vw);
            transform: translate(-54vw, 5vw);
  }
}

@media (min-width: 1366px) {
  .decor-footer__item_2 {
    -webkit-transform: translate(-53vw, 4vw);
            transform: translate(-53vw, 4vw);
  }
}

@media (min-width: 1920px) {
  .decor-footer__item_2 {
    -webkit-transform: translate(-52vw, 4vw);
            transform: translate(-52vw, 4vw);
  }
}

@media (min-width: 640px) {
  .decor-footer__item_3 {
    -webkit-transform: translate(-40vw, -2vw);
            transform: translate(-40vw, -2vw);
  }
}

@media (min-width: 768px) {
  .decor-footer__item_3 {
    -webkit-transform: translate(-40vw, -2vw);
            transform: translate(-40vw, -2vw);
  }
}

@media (min-width: 992px) {
  .decor-footer__item_3 {
    -webkit-transform: translate(-40vw, -2vw);
            transform: translate(-40vw, -2vw);
  }
}

@media (min-width: 1170px) {
  .decor-footer__item_3 {
    -webkit-transform: translate(-40vw, -2vw);
            transform: translate(-40vw, -2vw);
  }
}

@media (min-width: 1366px) {
  .decor-footer__item_3 {
    -webkit-transform: translate(-37vw, -2vw);
            transform: translate(-37vw, -2vw);
  }
}

@media (min-width: 1920px) {
  .decor-footer__item_3 {
    -webkit-transform: translate(-35vw, -2vw);
            transform: translate(-35vw, -2vw);
  }
}

@media (min-width: 640px) {
  .decor-footer__item_4 {
    -webkit-transform: translate(36vw, -28vw);
            transform: translate(36vw, -28vw);
  }
}

@media (min-width: 768px) {
  .decor-footer__item_4 {
    -webkit-transform: translate(32vw, -26vw);
            transform: translate(32vw, -26vw);
  }
}

@media (min-width: 992px) {
  .decor-footer__item_4 {
    -webkit-transform: translate(27vw, -28vw);
            transform: translate(27vw, -28vw);
  }
}

@media (min-width: 1170px) {
  .decor-footer__item_4 {
    -webkit-transform: translate(27vw, -31vw);
            transform: translate(27vw, -31vw);
  }
}

@media (min-width: 1366px) {
  .decor-footer__item_4 {
    -webkit-transform: translate(27vw, -29vw);
            transform: translate(27vw, -29vw);
  }
}

@media (min-width: 1920px) {
  .decor-footer__item_4 {
    -webkit-transform: translate(26vw, -21vw);
            transform: translate(26vw, -21vw);
  }
}

@media (min-width: 640px) {
  .decor-footer__item_5 {
    -webkit-transform: translate(38vw, -17vw);
            transform: translate(38vw, -17vw);
  }
}

@media (min-width: 768px) {
  .decor-footer__item_5 {
    -webkit-transform: translate(35vw, -13vw);
            transform: translate(35vw, -13vw);
  }
}

@media (min-width: 992px) {
  .decor-footer__item_5 {
    -webkit-transform: translate(33vw, -10vw);
            transform: translate(33vw, -10vw);
  }
}

@media (min-width: 1170px) {
  .decor-footer__item_5 {
    -webkit-transform: translate(33vw, -10vw);
            transform: translate(33vw, -10vw);
  }
}

@media (min-width: 1366px) {
  .decor-footer__item_5 {
    -webkit-transform: translate(33vw, -6vw);
            transform: translate(33vw, -6vw);
  }
}

@media (min-width: 1920px) {
  .decor-footer__item_5 {
    -webkit-transform: translate(29vw, -4vw);
            transform: translate(29vw, -4vw);
  }
}

@media (min-width: 640px) {
  .decor-footer__item_6 {
    -webkit-transform: translate(41vw, -4vw);
            transform: translate(41vw, -4vw);
  }
}

@media (min-width: 768px) {
  .decor-footer__item_6 {
    -webkit-transform: translate(41vw, -4vw);
            transform: translate(41vw, -4vw);
  }
}

@media (min-width: 992px) {
  .decor-footer__item_6 {
    -webkit-transform: translate(41vw, -4vw);
            transform: translate(41vw, -4vw);
  }
}

@media (min-width: 1170px) {
  .decor-footer__item_6 {
    -webkit-transform: translate(41vw, -4vw);
            transform: translate(41vw, -4vw);
  }
}

@media (min-width: 1366px) {
  .decor-footer__item_6 {
    -webkit-transform: translate(41vw, -4vw);
            transform: translate(41vw, -4vw);
  }
}

@media (min-width: 1920px) {
  .decor-footer__item_6 {
    -webkit-transform: translate(41vw, -3vw);
            transform: translate(41vw, -3vw);
  }
}
/*# sourceMappingURL=styles.css.map */